<!DOCTYPE html>
<html lang="en">
<head>
  <title>Krista's Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container">
    
    <!-- *** INTRODUCTION *** -->
    <div class="name">
      <h1>Krista Laffrenier</h1>
      <p>Web Delevoper</p>
      <%= link_to '<i class="fa fa-bitbucket" aria-hidden="true"></i>'.html_safe, "https://bitbucket.org/Kr1sta/", { style: "color:white", target: :_blank} %>
      <%= link_to '<i class="fa fa-github-alt" aria-hidden="true"></i>'.html_safe, "https://github.com/Kr1sta", { style: "color:white;margin:10px", target: :_blank} %>
      <%= link_to '<i class="fa fa-envelope" aria-hidden="true"></i>'.html_safe, "google.com", { style: "color:white", target: :_blank} %>
    </div>

    <!-- *** ABOUT ME *** -->
    <div class="aboutMe">
      <p>I am a junior rails developer that learns quickly, listens well, and that knows how to search for answers if I get stuck on a project.</p>
    </div>
    
    <!-- *** PORTFOLIO PIECES *** -->
    <div class="content">

      <!-- *** MIRAGE APP *** -->
      <div class="img-box">
        <img class="app-img" src="/images/mirage_app/mirage-artist.png" alt="MirageApp">
        <img class="app-img" src="/images/mirage_app/mirage-signup-far.png" alt="MirageApp Signin">
        
        <p class="app-explanation">Mirage: App for a local 3D Home Image company. Shows sample pieces, artist portfolios, and allows clients to submit requests to the admin. ActiveAdmin used for storing request, and aiding business owners in making changes at their dicretion.</p>

        <%= link_to '<i class="fa fa-github-alt" aria-hidden="true"></i>'.html_safe, "https://github.com/Kr1sta", { style: "color:white;margin:10px", target: :_blank} %>
        <%= link_to '<i class="fa fa-globe" aria-hidden="true"></i>'.html_safe, "https://bitbucket.org/Kr1sta/", { style: "color:white;margin:10px", target: :_blank} %>
      </div>

      <!-- *** PICVOTE APP *** -->
      <div class="img-box">
        <img class="app-img" src="/images/picvote_app/picvote-structure-lg.png" alt="PicvoteApp">
        <img class="app-img" src="/images/picvote_app/picvote-users-sm.png" alt="PicvoteApp Users">
        
        <p class="app-explanation">Picvote: App for upvoting or downvoting photos. Profiles must be made in order to vote, and posts show in order of which currently has the most upvotes. Votes are remembered, and shown via coloured arrows when logged in to account.</p>

        <%= link_to '<i class="fa fa-bitbucket" aria-hidden="true"></i>'.html_safe, "https://bitbucket.org/Kr1sta/", { style: "color:white;margin:10px", target: :_blank} %>
        <%= link_to '<i class="fa fa-globe" aria-hidden="true"></i>'.html_safe, "https://bitbucket.org/Kr1sta/", { style: "color:white;margin:10px", target: :_blank} %>
      </div>

      <!-- *** SAMPLE APP *** -->
      <div class="img-box">
        <img class="app-img" src="/images/sample_app/sample-welcome.png" alt="SampleApp">
        <img class="app-img" src="/images/sample_app/sample-sample.png" alt="SampleApp Login">
        
        <p class="app-explanation">Sample App: Created following Michael Hartl's 'Learn Enough to Be Dangerous' tutorial online. Standard text/image posting app wherein one can signup, login, create posts, add friends, and reply to posts.</p>

        <%= link_to '<i class="fa fa-bitbucket" aria-hidden="true"></i>'.html_safe, "https://bitbucket.org/Kr1sta/", { style: "color:white;margin:10px", target: :_blank} %>
        <%= link_to '<i class="fa fa-globe" aria-hidden="true"></i>'.html_safe, "https://bitbucket.org/Kr1sta/", { style: "color:white;margin:10px", target: :_blank} %>
      </div>

    </div>
  </div>

</body>
</html>